
<p id="legal">
    Copyright © 2015 free classifieds in South Africa — post a free ad, South Africa        <br>
    <a href="@Url.Action("ContactUs", "ContactUs")" style="line-height: 1.5em; font-size:1.4em;">Contact Us</a> |
    <a href="@Url.Action("PrivatePolicy", "PrivatePolicy")" style="line-height: 1.5em; font-size:1.4em;">Privacy Policy</a>
</p>
<div ng-controller="errorcontroller">
</div>