
<div style="margin-top:35px;"></div>

<div class="row">
    <div class="col-md-2 col-xs-12">

    </div>
    <div class="col-md-8 col-xs-12">
        <div id="divLoginContainer">
            <form ng-submit="changePassword()" id="frmChangePassword" name="frmChangePassword" novalidate que-ads-validator>
                <div class="panel panel-default">
                    <div class="panel-heading">Change Password</div>
                    <div class="clearfix visible-xs-block"></div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="UserName" class="col-md-3 col-xs-12 control-label">UserName*</label>
                            <div class="col-md-9 col-xs-12 form-element">
                                <div class="col-md-12 col-xs-12">
                                    <label class="col-md-3 col-xs-12 control-label">{{model.UserName}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix visible-xs-block"></div>
                        <div class="form-group">
                            <label for="Password" class="col-md-3 col-xs-12 control-label">Password*</label>
                            <div class="col-md-9 col-xs-12 form-element">
                                <div class="col-md-12 col-xs-12">
                                    <input type="password" ng-model="model.Password" placeholder="Enter Password" class="form-control" ng-maxlength="50" ng-required="true"
                                           name="Password" id="Password" data-required-msg="Password is required." data-maxlength-msg="Password cannot be more than 50 characters." />
                                    <p ng-show="frmChangePassword['Password'].$invalid" class="help-block" data-val-for="Password"></p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Password" class="col-md-3 col-xs-12 control-label">New Password*</label>
                            <div class="col-md-9 col-xs-12 form-element">
                                <div class="col-md-12 col-xs-12">
                                    <input type="password" ng-model="model.NewPassword" placeholder="Enter New Password" class="form-control" ng-maxlength="50" ng-required="true"
                                           ng-pattern="/^[a-zA-Z0-9]{3,50}$/" name="NewPassword" id="NewPassword"
                                           data-required-msg="New Password is required." data-maxlength-msg="New Password cannot be more than 50 characters."
                                           data-pattern-msg="New Password must only be character or numbers of atleast 3 characters." />
                                    <p ng-show="frmChangePassword['NewPassword'].$invalid" class="help-block" data-val-for="Password"></p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ConfirmPassword" class="col-md-3 col-xs-12 control-label">Confirm New Password*</label>
                            <div class="col-md-9 col-xs-12 form-element">
                                <div class="col-md-12 col-xs-12">
                                    <input type="password" ng-model="model.ConfirmNewPassword" placeholder="Enter Confirm Password" class="form-control" ng-maxlength="50" ng-required="true"
                                           matchfield="model.NewPassword" name="ConfirmNewPassword" id="ConfirmNewPassword"
                                           data-required-msg="Confirm New Password is required." data-maxlength-msg="Confirm New Password cannot be more than 50 characters."
                                           data-matchfield-msg="Confirm New Password must be same as Password." />
                                    <p ng-show="frmChangePassword['ConfirmNewPassword'].$invalid" class="help-block" data-val-for="ConfirmNewPassword"></p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <input type="submit" ng-click="changePassword()" id="btnChangePassword" value="Change Password" name="command" class="btn btn-primary btn-block" action-control action-value="Change Password" action-in-progress-value="Changing Password ..." />
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-2  col-xs-12">

    </div>
</div>
<div error-control></div>
