
<div style="margin-top:35px;"></div>

<div class="row">
    <div class="col-md-3 col-xs-12">

    </div>
    <div class="col-md-6 col-xs-12">
        <div id="divLoginContainer" ng-hide="resetPasswordSuccessful">
            <form id="frmLForgotPassword" name="frmLForgotPassword" novalidate que-ads-validator>
                <div class="panel panel-default">
                    <div class="panel-heading">Reset Password</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="UserName" class="col-md-2 col-xs-12 control-label">Username*</label>
                            <div class="col-md-10 col-xs-12 form-element">
                                <div class="col-md-12 col-xs-12">
                                    <input type="text" ng-model="model.UserName"
                                           placeholder="Enter username" class="form-control"
                                           ng-required="true"
                                           data-required-msg="Username is required"
                                           name="UserName" id="UserName" />
                                    <p ng-show="frmLForgotPassword.UserName.$invalid" class="help-block" data-val-for="UserName"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <input type="submit" ng-click="resetPassword()" id="btnResetPassword" value="Reset Password" name="command" class="btn btn-primary btn-block" action-control action-value="Reset Password" action-in-progress-value="Reseting Password ..." />
                    </div>
                </div>
            </form>
        </div>
        <div ng-show="resetPasswordSuccessful">
            Password reset was successful, please check your email address for the password, to login <a ng-click="goToLogin($event)">click here </a>.
        </div>
    </div>
    <div class="col-md-3 col-xs-12">

    </div>
</div>
<div error-control></div>
