@{
    ViewBag.Title = "Que Ads.co.za - Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="@Url.Content("~/Content/local/viewads.css")" rel="stylesheet">
}

@section JsCode{
    angular.bootstrap(document.getElementById('divChangePasswordContainer'), ['changePasswordApp'])
}

@section scripts{
    <script src="@Url.Content("~/App/ChangePassword/js/app.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/App/ChangePassword/js/controllers/changepassword.js")" type="text/javascript"></script>
}

<div ng-non-bindable>
    <div id="divChangePasswordContainer" class="container-fluid">
        <ng-view></ng-view>
    </div>
</div>
