@{
    ViewBag.Title = "Que Ads.co.za - Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="@Url.Content("~/Content/local/viewads.css")" rel="stylesheet">
}

@section JsCode{
    angular.bootstrap(document.getElementById('divLoginContainer'), ['loginApp'])
}

@section scripts{
    <script src="@Url.Content("~/App/Login/js/app.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/App/Login/js/controllers/login.js")" type="text/javascript"></script>
}

<div ng-non-bindable>
    <div id="divLoginContainer" class="container-fluid">
        <ng-view></ng-view>
    </div>
</div>
